/* Variables */

:root {
  --blue: rgb(21, 88, 182);
  --powder-white: rgb(223, 223, 223);
}

/* @media screen and (max-width 414px){

  .only-mb {
    display: none !important;
  }

  h1 {
    font-size: 10px;
  }
} */


/* =============== General ================ */

body {
  margin: auto;
  background: black;
  border: 15px solid black;
}

a {
  text-decoration: none;
  color: var(--powder-white);
}

a:hover {
  font-weight: bold;
}

.container-fluid {
  padding: 0px;
}

/* ============== Nav ================ */

.nav {
  font-family: 'Lora', serif;
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 65px;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, .7));
  z-index: 5;
}

.navItems {
  padding: 20px 40px 0 30px;
  display: flex;
  flex-direction: row;
}

.navItem {
    color: var(--blue);
    font-size: 16px;
}
.navBox {
  margin: auto;
  padding: 10px;
  margin: 0;
}

.navItem:hover {
  font-weight: 900;
}

.navBox > a:hover {
  font-style: none;

}

h1 {
  color: var(--powder-white);
  text-align: right;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: lighter;
  padding-left: 5vm;
}

h5 {
  color: var(--blue);
  text-align: right;
  font-family: 'Nanum Gothic', sans-serif;
}

/* ================About Me ================*/
.aboutMe {
  height: 600px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: black;
}

.aboutmeImgDiv{
  background-image: url('./assets/desk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 600px;
}

.aboutmeImg{
  width: 50%;
}

.aboutmeP {
  color: var(--powder-white);
  font-family: 'Open Sans', sans-serif;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-family:  'Sedgwick Ave', cursive;
  font-size: 5vw;
  color: var(--powder-white);
}
.aboutmeText {
  padding: 60px;
  margin: 0 auto;
  color: var(--powder-white);
}
p {
  font-size: 15px;
}

hr{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(21, 88, 182, 0.1);
  border-bottom: 1px solid rgba(21, 88, 255, 0.5);
}

/* ================Skills===============*/
.skills {
  font-family: 'Open Sans', sans-serif;
  height: 650px;
  background-color: black;
  color: var(--powder-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skillsImg {
  background-image: url('./assets/daria-kopylova.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 650px;
}

.skillsList {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillsListInner {
  width: 75%;
  height: 75%;
}

.skillsP {
  padding: 0;
  color: rgb(221, 221, 221);
}

.skillsBlurb {
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
}

.skillsDiv {
  display: flex;
  flex-direction: row;
}

.emptyDiv {
  width: 50%;
  height: 10px;
}

.skillsRight {
  text-align: right;
  height: 20%;
  width: 50%;
  height: inherit;
  border-bottom: solid rgb(21, 88, 182) 1px;
  border-left: solid rgb(21, 88, 182) 1px;
  display: flex;
  justify-content: center;
}

.skillsLeft {
  text-align: left;
  width: 50%;
  height: 20%;
  height: inherit;
  border-bottom: solid rgb(21, 88, 182) 1px;
  border-right: solid rgb(21, 88, 182) 1px;
}



ul {
  font-size: 14px;
  width: 100%;
  margin: auto;
  padding: 0;
  z-index: 1;
}

li {
  padding: 5px;
  list-style: none;
}


/* ================ Projects ================*/

.projects {
  width: 100%;
  height: 800px;
  padding-bottom: 30px;
}

.image {
  width: 330px;
  height: 300px;
  margin: 0 5px;
  position: relative;
  border: 1px solid var(--blue);
  margin-bottom: 20px;
}

.image-thumbnail {
  width: 100%;
  height: 100%;
}

.image-hover {
  position: absolute;
  z-index: 1;
  display: block;
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .3s ease-in;
  background: #000;
  color: var(--powder-white);
}

.image-title {
  margin-top: 50px;
}

.image-line {
  width: 1%;
  margin: 10px auto;
  height: 1px;
  transition: .8s ease;
  background: var(--blue);
}

.image-caption {
  font-size: 14px;
  padding: 0 20px;
}

.image-hover:hover {
  opacity: .8;
}

.image-hover:hover > .image-line {
  width: 40%;
}

.liveSiteLink {
  color: var(--blue);
}

.projectBody {
  background-image: url('./assets/kendal-james.jpg');
  background-size: contain;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 40px;
}

.projectsHeader {
  text-align: center;
  width: 100%;
  height: 150px;
}

.projectH3 {
  vertical-align: bottom;
  color: rgb(221, 221, 221);
  padding-top: 70px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
}

.projectMB {
  display: none
}
/* ========= Contact ========== */

.contact {
  height: 600px;
  background-color: black;
  padding-top: 20px;
}

.contactBox {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.contactInfo {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: var(--powder-white);
  padding: 60px;
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

h4 {
  margin: 0;
  padding-bottom: 15px;
  font-family:  'Sedgwick Ave', cursive;
  font-size: 35px;
}

.profilePic {
  border-radius: 50%;
  width: 150px;
  height: 135px;
  border: 2px solid var(--blue);
  margin: 20px 0 20px 0;
}

i {
  font-size: 30px;
  color: var(--blue);
}

#backToTopLink {
  font-size: 13px;
  font-style: italic;
}

.contactInfo > a {
  color: var(--powder-white);
}
.contactInfoImg {
  background-image: url('./assets/anas-alshanti.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 50%;
}

.topArrowDiv {
  width: 100%;
  text-align: left;
}



/* Media */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

  /* nav */
  h1 {
    font-size: 12px;
    padding: 20px 0px 0px 10px;
    text-align: left;
  }

  .navItems {
    padding-left: 0px;
  }

  .linkMB {
    font-size: 12px;
  }

  /* about me */
  .aboutMe {
    background-image: url('./assets/desk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .aboutmeP {
    width: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8)
  }

  .aboutmeText {
    padding: 20px;
  }
  .only-mb {
    display: none !important;
  }

  /* skills */
  .skills {
    background-image: url('./assets/daria-kopylova.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .skillsList {
    width: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8)
  }

  /* projects */
  .projects {
    margin-bottom: 600px;

  }
  .projectBody {
    background: none;
    position: absolute;
  }

  .image {
    display: none !important
  }

  .projectMB {
    display: block;
    color: var(--powder-white);
    margin-bottom: 10px;
    border: 1px solid var(--powder-white);
  }

  .projectBlurb {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
  }

  h3 {
    width: 100%;
    text-align: center;
  }

  .enbylooDiv {
    background-image: url('./assets/enby_loo.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .myMarketsDiv {
    background-image: url('./assets/myMarket.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .tipsyDiv {
    background-image: url('./assets/tiki.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bookDiv {
    background-image: url('./assets/books.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .harryDiv {
    background-image: url('./assets/hpc42.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* contact */
  .contactBox {
    position: absolute;
    background-color: black;
    width: 100%;
    padding-top: 0;
  }
}






/* =========== CREDITS =========== */
/* Project Thumbnail inspired by @curcoder */
/* Beach Image: Daria Kopylova on unsplash.com */
/* Desk Image: */
/* Fern Image: */
/* Keyboard Image: Anas Alshanti on unsplash.com */
