/* Variables */

:root {
  --green-grey: #35524A;
  --metal-grey: #627C85;
  --spanish-grey: #8FA998;
  --weldon-blue: #779CAB;
  --magic-mint: #A2E8DD;
  --powder-white: rgb(223, 223, 223, .8);
  --dark-green:  rgb(17, 47, 30);
}

@media (max-width: 480px) {
  .header {
    font-size: 10px;
  }

  .sideNav {
    min-width: 130px;
  }

  .sectionHeader {
    font-size: 10px;
  }
}

/* =============== General ================ */
body {
  margin: auto;
  border: 7px solid  rgb(17, 47, 30);
}

.sectionHeader {
  color: rgb(17, 47, 30);
  padding: 15px 30px 0px 10px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  margin: 0;
  max-width: 40%;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

/* ============== SideNav ================ */

.sideNav {
  font-family: 'Lora', serif;
  padding: 20px 10px 0px 20px;
  color: var(--green-grey);
  font-family: 'Nanum Gothic', sans-serif;
  border-right: 1px solid var(--green-grey);
  border-bottom: 1px solid var(--green-grey);
  max-width: 20%;
  /* height: 100%; */
}

.profilePic {
  margin-top: 30px;
  padding: 20px 10px 20px 10px;
  border-radius: 60%;
  width: 150px;
}

.navItems {
  padding: 20px 0 0 30px;
}

.navItem {
    color: rgb(17, 47, 30);
    font-size: 16px;
}
.navBox {
  margin: auto;
  padding: 10px;
}

.navBox:hover {
  font-size: 20px;
}


/* ================ Header =================*/
.header {
  background-size: cover;
  background-image: url('assets/forest_fog.jpg');
  margin: 0;
  width: 100%;
  height: 700px;
}

h1 {
  color: var(--green-grey);
 text-align: right;
 font-size: 60px;
 padding: 15px 30px 0px 0px;
 font-family: 'Nanum Gothic', sans-serif;
 font-weight: lighter;
 margin: 0;
}

h5 {
 color:  rgb(17, 47, 30);
 text-align: right;
 padding: 15px 30px 0px 0px;
 font-family: 'Nanum Gothic', sans-serif;
}

/* =============== Main Body ================*/
.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content:
}
/* ================About Me ================*/
.aboutMe {
  border-bottom: 1px solid var(--green-grey);
  background-color: #ededed;
}

.aboutMeText {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  font-family: 'Open Sans', sans-serif;
  padding-right: 20px;
}

p, .welcome {
  width: 400px;
}

.skills {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  padding-top: 20px;
  width: 350px;
  background-color: rgb(17, 47, 30);
  color: white;
}

.icons {
  text-align: center;
  margin: auto;
}

ul {
  font-size: 16px;
}

li {
  padding: 5px;
}

.medium {
  padding: 10px;
}
/* ================ Projects ================*/

.projects {
  margin: auto;
  border-bottom: 1px solid var(--green-grey);
}

.projectBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;

}

.projectParagraph {
  font-size: 14px;
  width: 300px;
}

.projectImage {
  height: 300px;
  width: 350px;

}

.projectContent {
  padding: 15px;
}

h2 {
  color: var(--green-grey);
  font-family: 'Nanum Gothic', sans-serif;
  text-decoration: underline;
}

.card {
  width: 350px;
  height: 450px;
}

/* ========= Contact ========== */

.contact {
  height: 200px;
  background-color: rgb(17, 47, 30);
  transition: all 0.5s ease;
}

.contactHeader {
  color: white;
  padding: 15px 30px 0px 10px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  margin: 0;
  max-width: 40%;
  margin-bottom: 30px;
}

.contactBox {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.contactInfoDiv {
  border-left: 1px solid white;
  height: 170px;
  margin: 20px;
  width: 500px;
}
.contactInfo {
  margin: auto;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding-left: 30px;
  padding-top: 10px;
}

i {
  padding-right: 7px;
}

.headerArrow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

#backToTopLink {
  padding-left: 10px;
  width: 20px;
  color: white;
  padding-bottom: 10px;
}

#sayHello {
  color: white;
  padding: 15px 30px 0px 10px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  margin: 0;
  margin-bottom: 30px;
}
/* =========== CREDITS =========== */

/* Forest photo: Jay Mantri on Unsplash */
